<!DOCTYPE HTML>
<html>
<head>
    <title>Dojo2py</title>
    <link href="/static/css/reset.css" rel="stylesheet"></link>
    <link href="/static/css/dojo.css" rel="stylesheet"></link>
    <link href="/static/css/log.css" rel="stylesheet"></link>

    <script src="/static/js/jquery-1.6.2.min.js"></script>
    <script src="/static/js/jquery.timer.js"></script>
    <script src="/static/js/diff_match_patch.js"></script>
    <script src="/static/js/json2.js"></script>

    <script src="/static/js/ace.js"></script>
    <script src="/static/js/mode-python.js"></script>
    <script src="/static/js/theme-monokai.js"></script>
    
    <script src="/static/js/log.js"></script>
    <script src="/static/js/dojo.js"></script>

    <script>
    $(document).ready(function() {
        init();
    });
    </script>
</head>

<body>
    <div style="display:none">
        <input type="hidden" id="host" value="{{host}}">
        <input type="hidden" id="key" value="{{key}}">
        <input type="hidden" id="user-name" value="{{request.form['user_name']}}">
        <input type="hidden" id="user-email" value="{{request.form['user_email']}}">
        <input type="hidden" id="user-email-hash" value="{{user_email_hash}}">
    </div>
    
    <div id="main">
        <div id="main-editor">
            <div id="top-bar">
            </div>

            <div class="pad">
                <pre id="maineditor" alt="lol123" class="editor"></pre>
                <!-- <div class="padinfo">mainfile.py</div> -->
            </div>

            <div class="pad">
                <pre id="testeditor" alt="hihi" class="editor"></pre>
                <!-- <div class="padinfo">mainfile.py</div> -->
            </div>
        </div>
        <div id="rightbar">
            <div class="logo">
                <img src="/static/images/logo-mini.png">
            </div>

            <div class="box-rightbar">
                <div class="title">
                    <h1>Participantes</h1>
                </div>
                
                <div id="user-bar">
                </div>
            </div>

            <div class="box-rightbar">
                <div class="title">
                    <h1>Log</h1>
                </div>

                <div id="log">
                </div>
            </div>
        </div>
    </div>
</body>
</html>