html {
    
}
body {
    text-align:center;
    background:#e0e0e0;
    font-family:"sans", "sans-serif", verdana;
    font-size:14px;
    color:#141414;
}

#main-install {
    padding:25px 0;
    margin:0 auto;
    width:400px;
    margin-top:100px;
    background:white;
    border:1px solid #d0d0d0;
}

.logo {
    margin-bottom:40px;
}

.row {
    margin:10px auto;
    text-align:left;
    width:250px;
}

.row .title {
    font-weight:bold;
    display:block;
}

.row .obs {
    font-style:italic;
    display:block;
    font-size:12px;
}

.row input {
    width:100%;
    outline:none;
    border:1px solid #d0d0d0;
    font-size:16px;
    margin-top:5px;
}
